@model CoreSimpam.ViewModel.ScreenViewModel

<form asp-action="Edit" asp-controller="Screen" id="input-form" method="post">
    <input type="hidden" asp-for="ScreenID"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-header">
        <h5 class="modal-title">@ViewData["Title"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label asp-for="ScreenName" class="control-label col-md-4"></label>
            <input asp-for="ScreenName" class="form-control col-md-8" type="text" />
            <span asp-validation-for="ScreenName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ControllerName" class="control-label col-md-4"></label>
            <input asp-for="ControllerName" class="form-control col-md-8" type="text" />
            <span asp-validation-for="ControllerName" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ActionName" class="control-label col-md-4"></label>
            <input asp-for="ActionName" class="form-control col-md-8" type="text" />
            <span asp-validation-for="ActionName" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="IconCss" class="control-label col-md-4"></label>
            <input asp-for="IconCss" class="form-control col-md-8" type="text" />
            <span asp-validation-for="IconCss" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4">Menu</label>
            <div class="col-md-8">
                <div class="form-check">
                    <input asp-for="IsMenu" class="form-check-input" type="checkbox" />
                    <label asp-for="IsMenu" class="form-check-label"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4">Status</label>
            <div class="col-md-8">
                <div class="form-check">
                    <input asp-for="IsActive" class="form-check-input" type="checkbox" />
                    <label asp-for="IsActive" class="form-check-label"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ParentID" class="control-label col-md-4"></label>
            <select asp-for="ParentID" asp-items='(List<SelectListItem>)ViewData["parent"]' class="form-control col-md-8"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" id="btn-delete" value="@Model.ScreenID">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="btnSubmit">Save changes</button>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial");