@model CoreSimpam.ViewModel.TransactionViewModel
@section styles{
    @await Html.PartialAsync("CssPartial/_DatePickerCSSPartial")
    @await Html.PartialAsync("CssPartial/_selectCSSPartial")
    @await Html.PartialAsync("CssPartial/_JExcelCSSPartial")
    <style type="text/css">
        .table tr td {
            vertical-align: middle;
        }
    </style>
}

<div class="col-12">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Transaction</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" asp-action="Transaction" asp-controller="Api" method="get" id="form-filter">
            <div class="card-body">
                <div class="form-group row">
                    <label for="txtMonthPicker" class="col-sm-1 col-form-label mt-1">Month</label>
                    <div class="col-sm-4 mt-1">
                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" asp-for="TrxDate" />
                    </div>
                    <label for="Resident" class="col-sm-1 col-form-label mt-1">Resident</label>
                    <div class="col-sm-4 mt-1">
                        <select asp-for="ResidentID" asp-items='(List<SelectListItem>)ViewData["resident"]' class="form-control select2bs4"></select>
                    </div>
                    <div class="col-sm-2 mt-1">
                        <button class="btn btn-info" type="submit">Get</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </form>
    </div>
</div>
<div class="d-none" id="panelSpread" style="width:100%">
</div>

<input type="hidden" class="form-control" id="txtData">

@section Scripts{
    @await Html.PartialAsync("ScriptsPartial/_DatePickerScriptsPartial")
    @await Html.PartialAsync("ScriptsPartial/_Select2ScriptsPartial")
    @await Html.PartialAsync("ScriptsPartial/_JExcelScriptsPartial")
    <script type="text/javascript">
        const panelSpread = document.getElementById('panelSpread');
        const changed = function (instance, cell, x, y, value) {
            let data = excel.getJson(false);
            data.forEach((obj) => {
                obj['qty'] = (obj['afterAmount'] || 0) - (obj['beforeAmount'] || 0)
            });
            excel.setData(data);
            $('#txtData').val(JSON.stringify(data));
        };
        const excel = new Handsontable(panelSpread, {
            data: null,
            colHeaders: ['Customer Name', 'Customer Number', 'Before Amount', 'After Amount', 'Price', 'Qty', 'Total'],
            columns: [
                { data: 'customerName', width: 200 },
                { data: 'customerNumber', width: 200 },
                { data: 'beforeAmount', type: 'numeric', readOnly: false, width: 150 },
                { data: 'afterAmount', type: 'numeric', readOnly: false, width: 150 },
                { data: 'price', type: 'numeric', width: 150 },
                { data: 'qty', type: 'numeric', width: 100 },
                { data: 'total', type: 'numeric', width: 100 },
            ],
            rowHeaders: true,
            stretchH: 'all',
            readOnly: true,
            filters: false,
            dropdownMenu: false,
            licenseKey: 'non-commercial-and-evaluation',
            afterChange: function (changes, source) {
                if (changes) {
                    let data = this.getSourceData();
                    const index = changes[0][0];
                    const afterA = parseFloat(data[index]['afterAmount']) || 0;
                    const beforeA = parseFloat(data[index]['beforeAmount']) || 0;
                    const price = parseFloat(data[index]['price']) || 0;
                    this.setSourceDataAtCell(index, 'qty', (afterA - beforeA), source);
                    this.setSourceDataAtCell(index, 'total', (afterA - beforeA) * price, source);
                }
            }
        });

        $(document).ready(function () {
            $('.datetimepicker-input').datetimepicker({
                format: 'MMM YYYY',
                changeMonth: true,
                changeYear: true,
            });

            $(".datetimepicker-input").focus(function () {
                $(".datetimepicker-input").datetimepicker("show");
            });

            Combobox($('.select2bs4'));

            $(document).on("submit", '#form-filter', function () {
                var btn = $(this).find("button[type='submit']");
                var text = btn.html();
                Loading(true, btn, text);
                $.ajax({
                    url: $(this).attr('Action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    method: 'get',
                    success: function (x) {
                        if (x.status === true) {
                            if ($('#panelSpread').hasClass("d-none"))
                                $('#panelSpread').toggleClass('d-none');
                            excel.loadData(x.data.listItemTrx);
                            setTimeout(excel.render(), 3000);

                        }
                    },
                    error: function (e) {
                        swal(JSON.parse(e.responseText).data);
                    }
                });
                Loading(false, btn, text);
                return false;
            });
        });
    </script>
}