@section styles{
    @await Html.PartialAsync("CssPartial/_DatePickerCSSPartial")
    <style type="text/css">
        .table tr td {
            vertical-align: middle;
        }
    </style>
}

<div class="col-sm-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
            <div class="card-tools">
                <button class="btn btn-tool btn-outline-primary" id="btnAdd">Add</button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <!-- Date mm/dd/yyyy -->
                <div class="form-group">
                    <div class="input-group">
                        <label>Date:</label>
                        <div class="input-group monthpicker" id="reservationdate" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm" id="tbList" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-2">Customer Number</th>
                                <th scope="col" class="col-3">Customer Name</th>
                                <th scope="col" class="col-2">Customer Address</th>
                                <th scope="col" class="col-2">Phone</th>
                                <th scope="col" class="col-2">Resident</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-input" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("ScriptsPartial/_DatePickerScriptsPartial")
    <script type="text/javascript">

        $(document).ready(function () {
           
            $('.monthpicker').datetimepicker({
                format: 'MMM YYYY',
                changeMonth: true,
                changeYear:true
            });
        });

    </script>
}