@model CoreSimpam.ViewModel.CustomerViewModel

<form asp-action="Edit" asp-controller="Customer" id="input-form" method="post">
    <input asp-for="CustomerID" class="form-control col-md-8" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-header">
        <h5 class="modal-title">@ViewData["Title"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label asp-for="CustomerNumber" class="control-label col-md-4"></label>
            <input asp-for="CustomerNumber" class="form-control col-md-8" type="text" readonly />
            <span asp-validation-for="CustomerNumber" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="CustomerName" class="control-label col-md-4"></label>
            <input asp-for="CustomerName" class="form-control col-md-8" type="text" />
            <span asp-validation-for="CustomerName" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="CustomerAddress" class="control-label col-md-4"></label>
            <input asp-for="CustomerAddress" class="form-control col-md-8" type="text" />
            <span asp-validation-for="CustomerAddress" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="control-label col-md-4"></label>
            <input asp-for="Phone" class="form-control col-md-8" type="text" />
            <span asp-validation-for="Phone" class="order-1 text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Resident.ResidentID" class="control-label col-md-4"></label>
            <div class="col-md-8 pr-0 pl-0">
                <select asp-for="Resident.ResidentID" asp-items='(List<SelectListItem>)ViewData["resident"]' class="form-control select2bs4" disabled="disabled"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" id="btn-delete" value="@Model.CustomerID">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial");